<div class="service-info-container">
  <h1 class="service-info-title">
    {{ title }}
  </h1>
  <div class="services-list" [style.color]="service.color"  *ngFor="let service of services">
    <div class="service-container" *ngIf="!hasPrice; else price">
      <mat-icon [style.background]="service.iconBackground" class="service-info-icon">
        {{ service.icon }}
      </mat-icon>
      <span>{{ service.description }}</span>
    </div>
    <ng-template #price>
      <div class="service-with-price-container"> 
        <div>
          <mat-icon [style.background]="service.iconBackground" class="service-info-icon">
            {{ service.icon }}
          </mat-icon>
          <span>{{ service.description }}</span>
        </div>
        <span [style]="service.price?.style">{{ service.price?.amount }}</span>
      </div>
    </ng-template>
  </div>
</div>