  <div class="card-header">
    <span class="card-header-title">Bare Funeral Service</span>
    <div class="card-header-amount">From <span>${{ amount }}</span> inc. GST</div>
  </div>
  
  <div class="card-body">
    <div class="card-body-preference">
      <span>A complete funeral service. You may have the service prior to cremation with your loved one's coffin present, or without the coffin present after the cremation (often referred to as a memorial service).</span>
      <div>
        <span>Service type preferred (?)</span>
        <mat-tab-group preserveContent>
          <mat-tab label="Service with coffin">
            <app-service-options [optionCoffin]="true"></app-service-options>
          </mat-tab>
          <mat-tab label="Service without coffin">
            <app-service-options [optionCoffin]="false"></app-service-options>
          </mat-tab>
        </mat-tab-group>
      </div>
    </div>
  </div>
  