  <div class="card-header">
    <span class="card-header-title">Bare Funeral Service</span>
    <div class="card-header-amount">From <span>${{ ((withCoffin$ | async) ? 5899 : 3899) | number }}</span> inc. GST</div>
  </div>
  
  <div class="card-body">
    <div class="card-body-preference">
      <p>A complete funeral service. You may have the service prior to cremation with your loved one's coffin present, or without the coffin present after the cremation (often referred to as a memorial service).</p>
      <div class="coffin-option">
        <span><p>Service type preferred (?)</p></span>
        <div class="button-container">
          <button mat-button class="service-button" (click)="setWithCoffin(true)" [style.background-color]="getWithCoffin() ? 'white' : '#E0F2EE'">
            <mat-icon class="service-icon" [style.background-color]="getWithCoffin() ? '#E0F2EE' : 'white'" *ngIf="getWithCoffin()">check</mat-icon>
            <span>Service with coffin</span>
          </button>
          <button mat-button class="service-button" (click)="setWithCoffin(false)" [style.background-color]="getWithCoffin() ? '#E0F2EE' : 'white'">
            <mat-icon class="service-icon" [style.background-color]="getWithCoffin() ? 'white' : '#E0F2EE'" *ngIf="!getWithCoffin()">check</mat-icon>
            <span>Service without coffin</span>
          </button>
        </div>
        
        <div>
          <app-service-options [optionCoffin]="(withCoffin$ | async) ?? false"></app-service-options>
        </div>
      </div>
    </div>
  </div>
  