.main-container {
  display: flex;
  width: 600px;
  height: 1130px;
  top: 150px;
  left: 939px;
  justify-content: space-between;
  border: 1px 0px 0px 0px;
  opacity: 0px;
}

* {
  box-sizing: border-box;
}